@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for consistent cross-platform experience */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Ensure smooth scrolling on iOS */
.overflow-y-auto {
  -webkit-overflow-scrolling: touch;
}

/* Utilities */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
.mt-safe-top {
  margin-top: env(safe-area-inset-top);
}
.safe-area-bottom {
  margin-bottom: env(safe-area-inset-bottom);
}
.safe-area-top {
  padding-top: env(safe-area-inset-top);
}